@model AshokaTest.ViewModel.StudentViewModel

@{
    ViewBag.Title = "Review Details";
}

<h2>Review Details</h2>
<script src="~/Scripts/jquery-3.3.1.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4> Review  Details </h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StudentID)

        <div class="form-group">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentName, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                @Html.ValidationMessageFor(model => model.StudentName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentEmail, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                @Html.ValidationMessageFor(model => model.StudentEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudentPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StudentPassword, new { htmlAttributes = new { @class = "form-control", disabled = "true" } })
                @Html.ValidationMessageFor(model => model.StudentPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rule, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Rule, Model.RulesList, "-- Select Category --", new { htmlAttributes = new { @class = "form-control CategoryDropdown", disabled = "true" } })
                @Html.ValidationMessageFor(model => model.Rule, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoursesID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 CoursesList">
                @foreach (var course in Model.CoursesList)
                {
                    <div style="padding-right:15px;margin-left:200px">
                        @if (course.IsSelected)
                        {
                            <input id="@course.CousreCode" type="checkbox" checked="checked" onchange="ValidateRules(this);" name="courses" value="@course.CousreCode" />
                            <label for="@course.CousreCode">
                                @course.CourseName
                            </label>
                        }
                        else
                        {
                            <input id="@course.CousreCode" type="checkbox" onchange="ValidateRules(this);" name="courses" value="@course.CousreCode" />
                            <label for="@course.CousreCode">
                                @course.CourseName
                            </label>
                        }
                    </div>
                }

                @Html.HiddenFor(model => model.CoursesID, "");
                @Html.ValidationMessageFor(model => model.CoursesID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to Dashboad", "Index", "Students", new { id = Model.StudentID }, null)
                <span>|</span>
                @Html.ActionLink("Edit Details", "Edit", "Students", new { id = Model.StudentID }, null)
            </div>
        </div>
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {
        //disable control
        $("#Rule").prop("disabled", true);
    }
    );

</script>


