@model AshokaTest.ViewModel.CourseRuleViewModel


@if (Model.CourseList != null && Model.CourseList.Count > 0)
{
    @Html.Hidden("CourseIDs", "");
    @Html.Hidden("Min", Model.Rule.Min);
    @Html.Hidden("Max", Model.Rule.Max);
    <div class="CoursesList">
        @foreach (var course in Model.CourseList)
        {
            <div style="padding-right:15px;margin-left:200px">

                @if (course.IsSelected)
                {
                    <input id="@course.CousreCode" type="checkbox" checked="checked" onchange="ValidateRules(this);" name="courses" value="@course.CousreCode" />
                    <label for="@course.CousreCode">
                        @course.CourseName
                    </label>
                }
                else
                {
                    <input id="@course.CousreCode" type="checkbox" onchange="ValidateRules(this);" name="courses" value="@course.CousreCode" />
                    <label for="@course.CousreCode">
                        @course.CourseName
                    </label>
                }
            </div>
        }

    </div>
}
else
{
    <div style="padding-right:15px;margin-left:200px">
        <label>
            Course are not available for this category..
        </label>
    </div>
}
<script src="~/Scripts/CommanJS/CommanPartial.js"></script>
